@import "materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

.todoItem {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border: 3px solid black;
  border-radius: 5px;
}

.todoItem__change {
  margin: 0 5px;
}

.todoItem__delete {
  margin: 0 5px;
  color: red;
}

.todoItem__todoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
  font-size: 20px;;
}

.todoCheck {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.todoCheck.completed span,
.todoCheck.completed input {
  text-decoration: line-through;
}

.todo label {
  cursor: pointer;
}

.todo i {
  z-index: 2;
  cursor: pointer;
}


.buttons {
  display: flex;
  justify-content: space-around;
}

.button{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #34363a;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.closeButton:hover {
  background-color: #424f63;
}

.closeButton:before, 
.closeButton:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0.25rem;
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
}

.closeButton:before {
  transform: rotate(45deg);
}

.closeButton:after {
  transform: rotate(-45deg);
}

.wrapper {
  margin-bottom: 0;
}

.modalButton {
  padding: 5px 10px;
  background-color: #34363a;
  border: 0;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #424f63;
}


