body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

.zeroTodo {
  text-align: center;
}

.todoItem {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border: 3px solid black;
  border-radius: 5px;
}

.todoItem__change {
  margin: 0 5px;
}

.todoItem__delete {
  margin: 0 5px;
  color: red;
}

.todoItem__todoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
  font-size: 20px;;
}

.todoItem__title {
  display: flex;
  flex-wrap: wrap;
}

.todoItem__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin: 10px 15px;
  font-size: 20px;;
}

.todoCheck {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.todoCheck input[type="checkbox"] {
  position: absolute;
  appearance: none;
}

.todoCheck div {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  user-select: none;
}

.todoCheck div:before,
.todoCheck div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 3px;
  transition: .2s;
}

.todoCheck input[type="checkbox"]:checked + div::after {
  border: 0;
  transform: scale(0);
} 

.todoCheck input[type="checkbox"]:checked + div::before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

.todoCheck.completed span,
.todoCheck.completed input {
  text-decoration: line-through;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
}



.buttons {
  display: flex;
  justify-content: space-around;
}

.button{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button--delete {
  background: none;
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #34363a;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.closeButton:hover {
  background-color: #424f63;
}

.closeButton:before, 
.closeButton:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0.25rem;
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
}

.closeButton:before {
  transform: rotate(45deg);
}

.closeButton:after {
  transform: rotate(-45deg);
}

.wrapper {
  margin-bottom: 0;
}

.modalButton {
  padding: 5px 10px;
  background-color: #34363a;
  border: 0;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #424f63;
}


